.Header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 100;
}

.HeaderGroup {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
}


.Header a {
    color: rgba(33, 33, 33, 0.6);
    font-weight: 700;
}

.Header a:hover{
    color: black;
}

@media  (max-width: 640px) {
    .Header {
        padding: 15px 0;
    }

    .HeaderGroup {
        grid-template-columns: repeat(2, auto);
    }

    .Header a:nth-child(1){
        display: none;
    } 
}